* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.main_header {
  width: 100%;
  background: #445161;
  padding: 25px 50px 19px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_header-title {
  font-size: 60px;
  line-height: 69px;
  color: #FFFFFF;
  margin: 0 0 40px 0;
}

.main_header-list {
  font-size: 20px;
  line-height: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  list-style-position: inside;
  list-style-type: none;
}

.main_header-list_item {
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main_header-list_item::before {
  content: "";
  display: block;
  width: 16px;
  height: 13px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/check_mark.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main_header-list_item:last-child {
  margin: 0;
}

.main_header-photo {
  width: 472px;
  height: 217px;
  background: #FFFFFF;
}

.about_product {
  padding: 45px 50px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_product-title {
  font-size: 30px;
  line-height: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #445161;
  margin: 0 0 17px 0;
}

.about_product-text {
  font-size: 16px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  max-width: 646px;
}

.about_product-text:last-child {
  margin-top: 11px;
}

.about_product-photo {
  width: 430px;
  height: 245px;
  background: #445161;
}

.pluses_product {
  background: #F5F5F5;
  padding: 25px 50px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pluses_product-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #445161;
  width: 100%;
  margin: 0 0 25px 0;
}

.pluses_product-list {
  list-style-position: inside;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pluses_product-list_item {
  width: 568px;
  margin: 0 0 33px 0;
  position: relative;
  padding-left: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pluses_product-list_item::before {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/plus_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pluses_product-list_item:nth-child(1), .pluses_product-list_item:nth-child(3), .pluses_product-list_item:nth-child(5) {
  margin-right: 35px;
}
/*# sourceMappingURL=style.css.map */