* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
  }

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.main_header {
    background: #445161;
    padding: 25px 50px 19px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    &-title {
        font-size: 60px;
        line-height: 69px;
        color: #FFFFFF;
        margin: 0 0 40px 0;
    }

    &-list {
        font-size: 20px;
        line-height: 23px;
        align-items: center;
        color: #FFFFFF;
        list-style-position: inside;
        list-style-type: none;
    }
   
    &-list_item {
        margin-bottom: 10px;
        position: relative;
        padding-left: 20px;
        box-sizing: border-box;
    }

    &-list_item::before {
        content: "";
        display: block;
        width: 16px;
        height: 13px;
        position: absolute;
        top: 4px;
        left: 0;
        background-image: url(../img/check_mark.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &-list_item:last-child {
        margin: 0;
      }

    &-photo {
        width: 472px;
        height: 217px;
        background: #FFFFFF;
    }
}

.about_product {
    padding: 45px 50px 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-title {
        font-size: 30px;
        line-height: 36px;
        align-items: center;
        color: #445161;
        margin: 0 0 17px 0;
    }

    &-text {
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        color: #333333;
        max-width: 646px;
    }

    &-text:last-child {
        margin-top: 11px;
    }

    // Почему то не применяются слили для первого элемента
    // &-text:first-child {
    //     margin-bottom: 11px;
    // }

    &-photo {
        width: 430px;
        height: 245px;
        background: #445161;
    }
}

.pluses_product {
    background: #F5F5F5;
    padding: 25px 16px 14px 50px;
    box-sizing: border-box;

    &-title {
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #445161;
        width: 100%;
        margin: 0 0 25px 0;
    }

    &-list {
        list-style-position: inside;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }

    &-list_item {
        width: 568px;
        margin: 0 35px 33px 0;
        position: relative;
        padding-left: 45px;
        box-sizing: border-box;
    }

    &-list_item::before {
        content: "+";
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #445161;
        color: #fff;
        text-align: center;
        font-size: 34px;
        line-height: 35px
    }
}

.screenshots {
    padding: 25px 50px 23px 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-title {
        font-size: 30px;
        line-height: 36px;
        align-items: center;
        color: #445161;
        text-align: center;
        width: 100%;
        margin: 0 0 45px 0;
    } 

    &-item {
        width: 575px;
        display: flex;
        margin: 0 0 27px 0;
    }

    &-item_img {
        width: 202px;
        height: 153px;
        background: #445161;
        margin: 0 14px 0 0;
    }

    &-item_title {
        font-size: 24px;
        line-height: 30px;
        color: #445161;
        margin: 0 0 13px 0;
    }

    &-item_text {
        font-size: 16px;
        color: #333333;
        
    }
}