$dark_background: #445162;
$light_background: #F5F5F5;
$lighten_dark_background: lighten($dark_background, 35%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}

%title_h2 {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    width: 100%;
    text-align: center;
}

@mixin content_before($width:0, $height:0, $top:0, $left:0) {
    content: "";
    display: block;
    position: absolute;
    width: $width;
    height: $height;
    top: $top;
    left: $left;
}

@mixin background_img($url_img) {
    background-image: url($url_img);
    background-repeat: no-repeat;
    background-position: center;
}


.main_header {
    background: $dark_background;
    padding: 25px 50px 19px 50px;
    display: flex;
    justify-content: space-between;

    &-title {
        font-size: 60px;
        line-height: 69px;
        color: #FFFFFF;
        margin: 0 0 40px 0;
    }

    &-list {
        font-size: 20px;
        line-height: 23px;
    }
   
    &-list_item {
        margin-bottom: 10px;
        position: relative;
        padding-left: 20px;
        color: #FFFFFF;
    }

    &-list_item::before {
        @include content_before(16px, 13px, 4px);
        @include background_img('../img/check_mark.svg')
    }

    &-list_item:last-child {
        margin: 0;
    }

    &-photo {
        width: 472px;
        height: 217px;
        background: #FFFFFF;
    }
}

.about_product {
    padding: 45px 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-title {
        @extend %title_h2;
        text-align: left;
        margin: 0 0 17px 0;
    }

    &-text {
        max-width: 646px;
    }

    &-text:last-child {
        margin-top: 11px;
    }

    &-photo {
        width: 430px;
        height: 245px;
        background: $dark_background;
    }
}

.pluses_product {
    background: $light_background;
    padding: 25px 50px 14px 50px;

    &-title {
        @extend %title_h2;
        margin: 0 0 25px 0;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &-list_item {
        width: 568px;
        margin: 0 0 35px 0;
        position: relative;
        padding-left: 45px;
    }

    &-list_item::before {
        @include content_before(35px, 35px);
        content: "+";
        background-color: $dark_background;
        color: #fff;
        text-align: center;
        font-size: 34px;
        line-height: 35px
    }
}

.screenshots {
    padding: 25px 50px 23px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-title {
        @extend %title_h2;
        margin: 0 0 45px 0;
    } 

    &-item {
        width: 575px;
        display: flex;
        margin: 0 0 27px 0;
    }

    &-item_img {
        width: 202px;
        height: 153px;
        background: $dark_background;
        margin: 0 14px 0 0;
    }

    &-item_title {
        font-size: 24px;
        line-height: 30px;
        color: #445161;
        margin: 0 0 13px 0; 
    }
}

.reviews {
    %reviews_text {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 18px;
        font-style: italic;
    }

    background: $light_background;
    padding: 25px 50px 20px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-title {
        @extend %title_h2;
        margin: 0 0 29px 0;
    }

    &-item {
        width: 568px;
        display: flex;
        margin: 0 0 22px 0;
    }

    &-item_img {
        background: $dark_background;
        width: 66px;
        height: 66px;
        border-radius: 50%;
    }

    &-item_text {
        @extend %reviews_text;
        padding: 16px 10px 5px 15px;
        margin: 0 0 0 15px;
        background: #EBEBEB;
        border-radius: 5px;
        color: #000000;
        position: relative;
    }

    &-item_text::before {
        @include content_before(0, 0, 40px, -25px);
        border: 10px solid transparent;	
        border-right: 15px solid #EBEBEB;
    }

    &-item_label {
        @extend %reviews_text;
        display: block;
        margin: 10px 0 0 0;
        width: 100%;
        color: #989898;
    }
}

.prices {
    padding: 45px 50px 36px 50px;  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-title {
        @extend %title_h2;
        margin: 0 0 26px 0;
    }

    &-item {
        width: 300px;
        margin: 0 45px 0 0;
        align-self: flex-end;
        background: $dark_background;
        border-radius: 5px;
    }

    &-item:last-child {
        margin: 0 0 0 0; 
    } 

    &-item_title {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        margin: 14px 0 8px 0;
    }

    &-item_price {
        display: block;
        font-size: 40px;
        line-height: 30px;
        text-align: center;
        background: #FFFFFF;
        border: 2px solid #445162;
        padding: 25px 0 16px 0;
    }

    &-list {
        list-style-position: inside;
        margin: 8px 8px 16px 20px;
    }

    &-list_item {
        font-size: 14px;
        color: #FFFFFF;
    }

    &-button {
        background: #FFFFFF;
        width: 262px;
        padding: 16px 0 9px 0;
        margin: 14px 19px;
        font-size: 18px;
        font-weight: bold;
        color: #445161;
        border-radius: 7px;
        border: none;
    }

    &-button:hover {
        background-color: $lighten_dark_background;
        color: #fff;
    }

}

.main_footer {
    &-contacts {
        background: $dark_background;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 25px 50px 60px 50px;
    }

    &-title {
        @extend %title_h2;
        color: #FFFFFF;
        padding: 0 0 43px 0;
    }

    &-form {
        margin: 0 45px 0 0;
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        justify-content: center;
    }

    &-form_input, 
    &-form_message {
        width: 100%;
        height: 40px;
        padding: 10px;
        margin: 0 0 20px 0;
        border-radius: 5px;
        border: 1px solid $dark_background;
    }

    &-form_message {
        height: 170px;
        resize: none;
    }

    &-form_input[placeholder], 
    &-form_message[placeholder] {
        color:  $dark_background;
        text-align: left;
    }

    &-form_input:hover, 
    &-form_message:hover,
    &-form_submit:hover {
        background-color: $lighten_dark_background;
        color: #fff;
    }

    &-form_input:hover::placeholder, 
    &-form_message:hover::placeholder {
        color: #fff;
    }

    &-form_submit {
        width: 140px;
        height: 40px;
        border: 1px solid $dark_background;
        border-radius: 5px;
        background: #fff;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        color: #445162;
    }

    &-social_network {
        height: 357px;
        margin: 10px 0 0 0;
    }

    &-link {
        display: block;
        margin: 0 0 20px 0;
        padding: 0 0 0 30px;
        position: relative;
        color: #FFFFFF;
    }

    &-link:last-of-type {
        margin: 0 0 50px 0;
    }

    &-link:before {
        @include content_before(20px, 20px);
        @include background_img('');
    }
      
    &-link:nth-of-type(1)::before  {
        background-image: url(../img/skype_icon.svg);
    }
      
    &-link:nth-of-type(2)::before {
        background-image: url(../img/icq_icon.svg);
    }
    
    &-link:nth-of-type(3)::before  {
        background-image: url(../img/email_icon.svg);
    }
      
    &-link:nth-of-type(4)::before {
        background-image: url(../img/bx_bx-phone.svg);
    }

    &-link:hover {
        color: $lighten_dark_background;
    }
    
    &-social_logo {
        display: flex;
        justify-content: space-between;
    }

    &-social_logo-net {
        width: 51px;
        height: 51px;
        @include background_img('');
    }

    &-social_logo-net:nth-of-type(1)  {
        background-image: url(../img/twitter.svg);
    }
      
    &-social_logo-net:nth-of-type(2) {
        background-image: url(../img/vk.svg);
    }
    
    &-social_logo-net:nth-of-type(3)  {
        background-image: url(../img/google.svg);
    }
      
    &-social_logo-net:nth-of-type(4) {
        background-image: url(../img/facebook.svg);
    }

    &-copy_text {
        background: $light_background;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.3px;
        color: $dark_background;
        padding: 13px 0;
    }
}