* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
  }

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.main_header {
    background: #445161;
    padding: 25px 50px 19px 50px;
    display: flex;
    justify-content: space-between;

    &-title {
        font-size: 60px;
        line-height: 69px;
        color: #FFFFFF;
        margin: 0 0 40px 0;
    }

    &-list {
        font-size: 20px;
        line-height: 23px;
        align-items: center;
        color: #FFFFFF;
        list-style-position: inside;
        list-style-type: none;
    }
   
    &-list_item {
        margin-bottom: 10px;
        position: relative;
        padding-left: 20px;
    }

    &-list_item::before {
        content: "";
        display: block;
        width: 16px;
        height: 13px;
        position: absolute;
        top: 4px;
        left: 0;
        background-image: url(../img/check_mark.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &-list_item:last-child {
        margin: 0;
      }

    &-photo {
        width: 472px;
        height: 217px;
        background: #FFFFFF;
    }
}

.about_product {
    padding: 45px 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-title {
        font-size: 30px;
        line-height: 36px;
        align-items: center;
        color: #445161;
        margin: 0 0 17px 0;
    }

    &-text {
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        color: #333333;
        max-width: 646px;
    }

    &-text:last-child {
        margin-top: 11px;
    }

    &-photo {
        width: 430px;
        height: 245px;
        background: #445161;
    }
}

.pluses_product {
    background: #F5F5F5;
    padding: 25px 16px 14px 50px;

    &-title {
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #445161;
        width: 100%;
        margin: 0 0 25px 0;
    }

    &-list {
        list-style-position: inside;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }

    &-list_item {
        width: 568px;
        margin: 0 35px 33px 0;
        position: relative;
        padding-left: 45px;
        
    }

    &-list_item::before {
        content: "+";
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #445161;
        color: #fff;
        text-align: center;
        font-size: 34px;
        line-height: 35px
    }
}

.screenshots {
    padding: 25px 50px 23px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-title {
        font-size: 30px;
        line-height: 36px;
        align-items: center;
        color: #445161;
        text-align: center;
        width: 100%;
        margin: 0 0 45px 0;
    } 

    &-item {
        width: 575px;
        display: flex;
        margin: 0 0 27px 0;
    }

    &-item_img {
        width: 202px;
        height: 153px;
        background: #445161;
        margin: 0 14px 0 0;
    }

    &-item_title {
        font-size: 24px;
        line-height: 30px;
        color: #445161;
        margin: 0 0 13px 0;
    }

    &-item_text {
        font-size: 16px;
        color: #333333;
        
    }
}

.reviews {
    background: #F5F5F5;
    padding: 25px 50px 42px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-title {
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #445161;
        width: 100%;
        margin: 0 0 29px 0;
    }

    &-item {
        width: 568px;
        display: flex;
    }

    &-item_img {
        background: #445161;
        width: 66px;
        height: 66px;
        border-radius: 50%;
    }

    &-item_text {
        padding: 16px 10px 5px 15px;
        margin: 0 0 22px 15px;
        background: #EBEBEB;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        font-style: italic;
        position: relative;
    }

    &-item_text::before {
        content: "";
        border: 10px solid transparent;	
        border-right: 15px solid #EBEBEB;
        position: absolute;
        top: 40px;
        left: -25px;
    }

    &-item_label {
        display: block;
        margin: 10px 0 0 0;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 18px;
        color: #989898;
        font-style: italic;
        text-decoration: none;
    }
}

.prices {
    padding: 45px 50px 36px 50px;    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-title {
        width: 100%;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #445161;
        margin: 0 0 26px 0;
    }

    &-item {
        width: 300px;
        margin: 0 45px 0 0;
        align-self: flex-end;
        background: #445161;
        border-radius: 5px;
    }

    &-item:last-child {
        margin: 0 0 0 0; 
    } 

    &-item_title {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        margin: 14px 0 8px 0;
    }

    &-item_price {
        display: block;
        width: 100%;
        font-size: 40px;
        line-height: 30px;
        text-align: center;
        color: #445162;
        background: #FFFFFF;
        border: 2px solid #445162;
        padding: 25px 0 16px 0;
    }

    &-list {
        list-style-position: inside;
        margin: 8px 8px 16px 20px;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
    }

    &-button {
        background: #FFFFFF;
        width: 262px;
        padding: 16px 0 9px 0;
        margin: 14px 19px;
        font-size: 18px;
        font-weight: bold;
        color: #445161;
        border-radius: 7px;
        border: none;
    }
}

.main_footer {
    $fon_footer: #445162;
    &-contacts {
        background: $fon_footer;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-title {
        width: 100%;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
        padding: 25px 0 43px 0;
    }

    &-form {
        margin: 0 45px 0 0;
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        justify-content: center;
    }

    &-form_input, 
    &-form_message {
        width: 100%;
        height: 40px;
        padding: 10px;
        margin: 0 0 20px 0;
        border-radius: 5px;
        border: 1px solid $fon_footer;
    }

    &-form_message {
        height: 170px;
        resize: none;
    }

    &-form_input[placeholder], 
    &-form_message[placeholder] {
        color:  $fon_footer;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
    }

    &-form_input:hover, 
    &-form_message:hover,
    &-form_submit:hover {
        background-color: lighten($fon_footer, 35%);
        color: #fff;
    }

    &-form_input:hover::placeholder, 
    &-form_message:hover::placeholder {
        color: #fff;
    }

    &-form_submit {
        width: 140px;
        height: 40px;
        border: 1px solid $fon_footer;
        border-radius: 5px;
        background: #fff;
        text-align: center;
        margin: 0 0 61px 0;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: #445162;
    }


    &-copy {
        background: #F5F5F5;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.3px;
        color: #445162;
        padding: 13px 0;
    }

}