@font-face {
  font-family: 'raleway-regular';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
  font-family: 'raleway-medium';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Raleway/static/Raleway-Medium.ttf");
}

@font-face {
  font-family: 'raleway-semiBold';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Raleway/static/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: 'raleway-bold';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
}

@font-face {
  font-family: 'raleway-extraBold';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Raleway/static/Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: 'montserrat-light';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: 'roboto-regular';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

p {
  font-family: 'raleway-regular', 'montserrat-ligth';
  line-height: 1.5;
}

.main_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: grey;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.5))), url(../img/backgroundHeader.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../img/backgroundHeader.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  text-decoration: none;
}

.main_header a {
  color: #FFFFFF;
  text-decoration: none;
}

.main_header a:hover {
  color: #C7B299;
}

.main_header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px auto 280px;
  max-width: 1180px;
}

.main_header .navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 183px;
  margin: 0 219px  0 0;
}

.main_header .navbar-svg {
  fill: #FFFFFF;
}

.main_header .navbar-logo_txt {
  font-size: 34px;
  font-family: 'raleway-regular';
}

.main_header .navbar-menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0 40px 0 0;
}

.main_header .navbar-menu_item {
  font-family: 'raleway-medium', 'montserrat-light';
  font-size: 14px;
  margin: 0 30px 0 0;
}

.main_header .navbar-btnCart, .main_header .navbar-btnSearch {
  border: none;
  background: none;
}

.main_header .navbar-btnCart {
  margin: 0 27px 0 0;
}

.main_header .navbar-svg:hover {
  fill: #C7B299;
}

.main_header .navbar-btnSearch {
  width: 25px;
  height: 25px;
  outline: none;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  fill: #FFFFFF;
}

.main_header .navbar-btnSearch:focus {
  width: 200px;
  -webkit-transition: width 1s ease-out;
  transition: width 1s ease-out;
  background-position: left;
  padding: 0 0 0 30px;
  color: #FFFFFF;
  background-color: #C7B299;
}

.main_header .navbar-btnSearch:hover {
  background-color: #C7B299;
}

.main_header .carusel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 25px;
}

.main_header .carusel_txt {
  text-align: center;
  width: 590px;
  margin: 0 380px;
}

.main_header .carusel_txt h3 {
  font-size: 36px;
  font-family: 'raleway-medium';
}

.main_header .carusel_txt h2 {
  font-size: 52px;
  font-family: 'raleway-extraBold';
  margin: 0 0 15px 0;
}

.main_header .carusel_txt p {
  font-size: 16px;
  margin: 0 0 51px 0;
  padding: 0 10px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.main_header .carusel_txt button {
  background-color: #998675;
  font-family: 'raleway-extraBold';
  text-transform: uppercase;
  font-size: 14px;
  padding: 18px 39px;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  border-bottom: 3px solid #736357;
}

.main_header .carusel_txt button:hover {
  background-color: #d0bea9;
}

.main_header .carusel_switch {
  display: block;
  width: 50px;
  height: 50px;
  margin: 120px 0 0 0;
  border: none;
  background: none;
  border-top: 2px solid #A2A19F;
  border-right: 2px solid #A2A19F;
}

.main_header .carusel .switch-rigth {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main_header .carusel .switch-left {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.main_header .carusel_switch:hover {
  border-top: 2px solid #C7B299;
  border-right: 2px solid #C7B299;
  color: #C7B299;
}

.main_header .carusel_pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 250px 0 40px;
}

.main_header .carusel_pagination-item {
  display: block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #8E8F90;
  border-radius: 50%;
  border: 1px solid transparent;
}

.main_header .carusel_pagination-item:hover {
  background-color: transparent;
  border: 1px solid #C7B299;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 100px 0 80px;
  background-color: #FFFFFF;
}

.features_item {
  width: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 30px 0 0;
}

.features_item:after {
  content: "";
  display: block;
  width: 71px;
  height: 4px;
  background-color: #F1EEE9;
  margin: 29px 0 0 0;
}

.features_item:hover .features-icon, .features_item:hover .features-title, .features_item:hover:after {
  color: #C7B299;
  fill: #C7B299;
}

.features_item:hover:after {
  background-color: #C7B299;
}

.features-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #555555;
  margin: 0 0 30px 0;
  width: 52px;
  height: 50px;
}

.features-title {
  width: 100%;
  margin: 0 0 19px 0;
  font-family: 'raleway-semiBold', 'raleway-bold';
  font-size: 22px;
  color: #555555;
}

.features-txt {
  font-size: 14px;
  color: #8C8C8C;
}
/*# sourceMappingURL=style.css.map */